<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <h1>Full Menu</h1>
  <h2 class = mains >Mains</h2>
   mains.forEach
  <h2 class = desserts >Desserts</h2>
  <h2 class = sides >Sides</h2>

  <%menu.forEach((element,index)=>{%>
    <% if(element.catagory === "mains"){ %>

  <%  }%>
  <%})  %>
</body>
</html>
